/* Checkbox */
.center-on-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* Checked */
checked {
  padding-left: 10px;
  color: #000000;
  cursor: pointer;
}

ol, ul {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
}

input[type=submit]:hover{
    background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}